@charset "UTF-8";
* {
  font-family: "Jost", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(30, 30, 30);
  overflow: hidden;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  transition: all 0.2s ease;
  overflow: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  height: 10vh;
  padding: 0 10%;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-radius: 0px 0px 20px 20px;
}
.navbar button {
  height: auto;
  width: auto;
  margin: 0;
}
.navbar .theme-toggle {
  cursor: pointer;
  background: none;
  border: none;
}
.navbar .theme-toggle img {
  width: 25px;
  filter: grayscale(100%) opacity(50%);
}
.navbar .lang-toggle {
  display: flex;
}
.navbar .lang-toggle button {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  letter-spacing: 2px;
  transition: all 0.4s;
  border-bottom: 2px solid transparent;
}
.navbar .lang-toggle button:hover {
  border-bottom: 2px solid white;
}
.navbar .lang-toggle span {
  margin: 0 10px;
}
.navbar .lang-toggle .disabled-lang {
  color: rgba(255, 255, 255, 0.25);
}

.column {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 5vw;
  transition: all 0.3s;
  flex-direction: column;
  cursor: pointer;
}
.column:hover {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.column .column-icon {
  transition: all 0.2s ease;
  max-width: 25px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.404));
}
.column.home-column {
  background-color: #61e4d5;
}
.column.about-column {
  background-color: #57d5e0;
}
.column.skills-column {
  background-color: #4dc5ea;
}
.column.projects-column {
  background-color: #43b5f5;
}
.column.contact-column {
  background-color: #38a5ff;
}

/* TAMANHO DOS CONTAINERS E PADDING INICIAL DA HOME -------------------------------------*/
.home-container,
.about-container,
.skills-container,
.projects-container,
.contact-container {
  height: 100vh;
  transition: all 0.5s;
}

.home-container {
  padding-right: 75vw;
}

/* CONTAINER ONDE VAI O CONTEÚDO ---------------------------------------*/
.home-content-container,
.about-content-container,
.skills-content-container,
.contact-content-container {
  position: absolute;
  top: 0vh;
  left: 5vw;
  width: 75vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: space-between;
  transition: all 0.5s;
  animation-name: example;
  animation-duration: 1.5s;
}

@keyframes example {
  from {
    opacity: 0;
    transform: scale(85%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}
/* DEIXANDO OS CONTEUDOS INVISIVEIS ATÉ SEREM CLICADOS --------------------------------------------------------------------------*/
.about-content-container,
.skills-content-container,
.contact-content-container {
  display: none;
}

.about-content-container {
  left: 10vw;
}

.skills-content-container {
  left: 15vw;
}

.contact-content-container {
  left: 25vw;
}

.home-container .home-content-container .navbar {
  color: #61e4d5;
}
.home-container .home-content-container .hello-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  height: 90vh;
  width: 75vw;
  padding: 0% 10% 5% 10%;
}
.home-container .home-content-container .hello-container .hello {
  width: 100%;
  margin-bottom: 1%;
}
.home-container .home-content-container .hello-container .hello h2 {
  font-size: clamp(3rem, 4vw, 10rem);
}
.home-container .home-content-container .hello-container .hello h2 span {
  color: #61e4d5;
}
.home-container .home-content-container .hello-container .hello h3 {
  font-size: clamp(1.1rem, 1.5vw, 10rem);
}
.home-container .home-content-container .hello-container .social-links-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
}
.home-container .home-content-container .hello-container .social-links-buttons a {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  padding: 10px 25px;
  transition: all 0.3s;
  text-decoration: none;
  text-align: center;
  margin-right: 2%;
}
.home-container .home-content-container .hello-container .social-links-buttons #resume {
  border: 2px solid #61e4d5;
  color: #61e4d5;
  padding: 10px 50px;
}
.home-container .home-content-container .hello-container .social-links-buttons #resume:hover {
  color: black;
  background-color: #61e4d5;
  transform: translateY(-8%);
}
.home-container .home-content-container .hello-container .social-links-buttons #linkedin {
  border: 2px solid #4dc5ea;
  color: #4dc5ea;
}
.home-container .home-content-container .hello-container .social-links-buttons #linkedin:hover {
  color: black;
  background-color: #4dc5ea;
  transform: translateY(-8%);
}
.home-container .home-content-container .hello-container .social-links-buttons #github {
  border: 2px solid #38a5ff;
  color: #38a5ff;
}
.home-container .home-content-container .hello-container .social-links-buttons #github:hover {
  color: black;
  background-color: #38a5ff;
  transform: translateY(-8%);
}

.about-container .about-content-container .navbar {
  color: #57d5e0;
}
.about-container .about-content-container .me-container {
  height: 90%;
  width: 75vw;
  padding: 0% 10% 5% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container .about-content-container .me {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container .about-content-container .me .mePicture {
  width: 100%;
  height: 60%;
  max-width: 300px;
  transition: all 0.3s;
  background-image: url("/assets/profile-pics/fundoBranco.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.about-container .about-content-container .me .meText {
  width: 75%;
  max-width: 1000px;
  color: white;
  font-size: 1rem;
  padding: 0% 4%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.about-container .about-content-container .me .meText p {
  text-align: justify;
  margin-bottom: 10px;
}

.skills-container .skills-content-container {
  width: 75vw;
}
.skills-container .skills-content-container .navbar {
  color: #4dc5ea;
}
.skills-container .skills-content-container .skills-content {
  height: 100%;
  width: 100%;
}
.skills-container .skills-content-container .skills-content .info-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 10% 5% 10%;
  height: 90%;
}
.skills-container .skills-content-container .skills-content .info-skills p {
  max-width: 1000px;
  text-align: justify;
  font-size: 1rem;
  color: white;
}
.skills-container .skills-content-container .skills-content .info-skills p span {
  color: #4dc5ea;
}
.skills-container .skills-content-container .skills-content .tech-skills-icons {
  margin-top: 2%;
  max-width: 1000px;
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5%;
}
.skills-container .skills-content-container .skills-content .tech-skills-icons img {
  width: 90%;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5019607843));
}
.skills-container .skills-content-container .skills-content .rotate {
  animation: flip 0.3s ease-in-out forwards;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg) scale(100%);
  }
  50% {
    transform: rotateY(-90deg) scale(110%);
  }
  100% {
    transform: rotateY(0deg) scale(100%);
  }
}

.projects-container {
  height: 100vh;
  transition: all 0.5s;
}
.projects-container .projects-content-container {
  position: fixed;
  top: 0vh;
  left: 5vw;
  width: 75vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: space-between;
  transition: all 0.5s;
  animation-name: example;
  animation-duration: 1.5s;
  display: none;
  left: 20vw;
}
.projects-container .projects-content-container .projects-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-container .projects-content-container .projects-content .navbar {
  color: #43b5f5;
}
.projects-container .projects-content-container .projects-content .carousel-container {
  width: 80%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Indicadores */
}
.projects-container .projects-content-container .projects-content .carousel-container .carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: fit-content;
  height: 95%;
}
.projects-container .projects-content-container .projects-content .carousel-container .carousel .carousel-item {
  min-width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-container .projects-content-container .projects-content .carousel-container .carousel .carousel-item img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  filter: grayscale(0%);
  transition: filter 0.3s ease;
}
.projects-container .projects-content-container .projects-content .carousel-container .info {
  width: 60%;
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: #fff;
  text-align: center;
  padding: 7% 0%;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-container .projects-content-container .projects-content .carousel-container .info h3 {
  text-transform: capitalize;
  font-size: 2rem;
}
.projects-container .projects-content-container .projects-content .carousel-container .info a {
  text-decoration: none;
  font-weight: bolder;
  color: #43b5f5;
  border: 1px solid #43b5f5;
  background-color: rgba(0, 0, 0, 0.3764705882);
  margin-top: 2%;
  padding: 2% 0%;
  width: 50%;
  text-transform: uppercase;
  transition: all 0.3s;
}
.projects-container .projects-content-container .projects-content .carousel-container .info a:hover {
  background-color: #43b5f5;
  color: black;
  transform: translateY(-10%);
}
.projects-container .projects-content-container .projects-content .carousel-container .info ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: inline;
  text-transform: uppercase;
}
.projects-container .projects-content-container .projects-content .carousel-container .info li {
  display: inline;
}
.projects-container .projects-content-container .projects-content .carousel-container .info li::after {
  content: " | ";
}
.projects-container .projects-content-container .projects-content .carousel-container .info li:last-child::after {
  content: "";
}
.projects-container .projects-content-container .projects-content .carousel-container .carousel-button {
  position: absolute;
  width: fit-content;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: #43b5f5;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: transparent;
  transition: all 0.3s;
}
.projects-container .projects-content-container .projects-content .carousel-container .carousel-button:hover {
  color: #000;
  transform: translateY(-50%) scale(110%);
}
.projects-container .projects-content-container .projects-content .carousel-container .carousel-button i {
  margin: 0;
  font-size: 3rem;
  -webkit-text-stroke: 2px #43b5f5;
}
.projects-container .projects-content-container .projects-content .carousel-container .carousel-button.prev {
  left: 15%;
}
.projects-container .projects-content-container .projects-content .carousel-container .carousel-button.next {
  right: 15%;
}
.projects-container .projects-content-container .projects-content .carousel-container .carousel-indicators {
  display: flex;
  gap: 8px;
  height: 5%;
}
.projects-container .projects-content-container .projects-content .carousel-container .carousel-indicators .indicator {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.projects-container .projects-content-container .projects-content .carousel-container .carousel-indicators .indicator.active {
  background-color: #43b5f5;
  transform: scale(125%);
}

.contact-container .contact-content-container .contact-content {
  width: 100%;
  height: 100%;
}
.contact-container .contact-content-container .contact-content .navbar {
  color: #38a5ff;
}
.contact-container .contact-content-container .contact-content .form-container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 10% 5% 10%;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form {
  overflow: hidden;
  border-radius: 15px;
  max-height: 600px;
  max-width: 1400px;
  background-color: black;
  display: flex;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .letschat {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #38a5ff;
  width: 50%;
  padding: 3%;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .letschat h2 {
  text-transform: uppercase;
  font-size: clamp(2.6rem, 4vw, 4rem);
  margin: 0;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .letschat p {
  font-size: 1rem;
  margin-top: 3%;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .letschat p a {
  color: black;
  text-decoration: none;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .letschat p a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info {
  box-sizing: border-box;
  padding: 5%;
  width: 50%;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info button {
  overflow: visible;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info button,
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info input,
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info textarea {
  color: rgb(255, 255, 255);
  font: inherit;
  margin: 0;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info input {
  line-height: normal;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info textarea {
  overflow: auto;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info #container {
  width: 100%;
  margin: 6px auto;
  position: relative;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info .email {
  float: right;
  width: 100%;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info input[type=text],
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info [type=email],
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #38a5ff;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.3em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info input[type=text]:focus,
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info [type=email]:focus,
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info .message,
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info .name,
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info .subject,
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info .telephone {
  width: 100%;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info textarea {
  line-height: 150%;
  height: 120px;
  scrollbar-color: #474747 #000000;
  resize: none;
  width: 100%;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info ::-webkit-input-placeholder {
  color: #474544;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info #form_button {
  background: none;
  border: solid 2px #38a5ff;
  color: #38a5ff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  transition: all 0.3s;
}
.contact-container .contact-content-container .contact-content .form-container .contact-form .form-info #form_button:hover {
  background: #38a5ff;
  color: black;
}

@media screen and (max-width: 1100px) {
  .about-container .about-content-container .me .mePicture {
    width: 35%;
    height: 40%;
  }
  .projects-container .projects-content-container .projects-content .carousel-container .info {
    padding: 5% 0%;
  }
  .projects-container .projects-content-container .projects-content .carousel-container .info h3 {
    font-size: 1.6rem;
  }
  .projects-container .projects-content-container .projects-content .carousel-container .info a {
    font-size: 0.8rem;
    padding: 2% 0%;
  }
  .projects-container .projects-content-container .projects-content .carousel-container .info li {
    font-size: 0.8rem;
  }
  .projects-container .projects-content-container .projects-content .carousel-container .carousel-button i {
    font-size: 2.5rem;
  }
}
/* MOBILE ----------------------------------------*/
@media screen and (max-width: 800px) {
  body {
    overflow: auto;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    height: unset;
    width: unset;
    transition: all 0.2s ease;
    overflow: unset;
  }
  /* CONFIGURAÇÕES GLOBAIS PARA OS CONTEÚDOS --------------------------------------------------------------------------*/
  /* .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  } */
  .title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #61e4d5;
    height: 10vh;
    text-transform: uppercase;
    letter-spacing: 15px;
  }
  .column-icon {
    transition: all 0.2s ease;
    max-width: 25px;
    margin-right: 10px;
  }
  /* TAMANHO DAS COLUNAS --------------------------------------------------------------------------*/
  .home-column,
  .about-column,
  .skills-column,
  .projects-column,
  .contact-column {
    font-weight: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    transition: all 0.5s;
    flex-direction: unset;
    font-size: unset;
  }
  /* TAMANHO DOS CONTAINERS E PADDING INICIAL DA HOME --------------------------------------------------------------------------*/
  .home-container,
  .about-container,
  .skills-container,
  .projects-container,
  .contact-container {
    padding-right: 0vw;
    height: 100vh;
    transition: all 0.5s;
  }
  .about-container,
  .skills-container {
    height: 150vh;
  }
  /* CONTAINER ONDE VAI O CONTEÚDO --------------------------------------------------------------------------*/
  .home-content-container,
  .about-content-container,
  .skills-content-container,
  .contact-content-container {
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    background-color: unset;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    animation-name: example;
    animation-duration: 1.5s;
  }
  @keyframes example {
    from {
      opacity: 1;
      transform: scale(85%);
    }
    to {
      opacity: 1;
      transform: scale(100%);
    }
  }
  .about-content-container,
  .skills-content-container {
    height: 140vh;
  }
  /* DEIXANDO OS CONTEUDOS INVISIVEIS ATÉ SEREM CLICADOS --------------------------------------------------------------------------*/
  .about-content-container,
  .skills-content-container,
  .contact-content-container {
    display: unset;
  }
  .about-content-container {
    left: unset;
  }
  .skills-content-container {
    left: unset;
  }
  .contact-content-container {
    left: unset;
  }
  /* ESTILIZANDO A HOME --------------------------------------------------------------------------*/
  .links a {
    text-decoration: none;
  }
  .titleHome {
    display: none;
    justify-content: center;
    align-items: flex-end;
    color: #61e4d5;
    height: 10vh;
    text-transform: uppercase;
    letter-spacing: 15px;
  }
  .home-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hello-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: bold;
    height: 30%;
    width: 90%;
    min-width: unset;
    text-align: center;
    padding: 4%;
  }
  span {
    font-size: 4vw;
  }
  .eduardo {
    font-size: 10vw;
  }
  .hello {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .buttons {
    display: flex;
    flex-direction: unset;
    justify-content: space-around;
    width: 90%;
    margin-top: 20px;
  }
  .links {
    display: flex;
    justify-content: flex-end;
  }
  #resume,
  #linkedin,
  #github {
    margin-right: 8px;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    width: 90%;
    border: 3px solid #61e4d5;
    color: #61e4d5;
    outline: none;
    padding: 5px;
    transition: all 0.3s;
    text-decoration: none;
    text-align: center;
  }
  #linkedin {
    background-color: transparent;
    border: 3px solid #4dc5ea;
    color: #4dc5ea;
  }
  #github {
    background-color: transparent;
    border: 3px solid #38a5ff;
    color: #38a5ff;
  }
  /* ESTILIZANDO O ABOUT --------------------------------------------------------------------------*/
  .title {
    display: none;
  }
  .about-content-container p {
    color: white;
    margin-bottom: 12px;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 2px;
    hyphens: auto;
    font-size: 1.3vh;
  }
  .about-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 130vh;
    max-width: 1300px;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: unset;
  }
  #profile {
    width: 60%;
    height: unset;
    border-radius: 50%;
  }
  #paragr-container {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    width: 90%;
    margin-right: unset;
  }
  /* ESTILIZANDO AS SKILLS --------------------------------------------------------------------------*/
  .section-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130vh;
    max-width: 1300px;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
  }
  .section-skills h1 {
    padding: 15px;
    font-size: 1em;
  }
  .front-end {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 33.3%;
  }
  .back-end {
    background-color: rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 33.3%;
  }
  .tools {
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 33.3%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: unset;
  }
  .icons-wrapp {
    height: 70%;
    width: 90%;
    gap: 4%;
    display: flex;
    justify-content: space-evenly;
    margin-top: unset;
    row-gap: unset;
    flex-wrap: wrap;
  }
  .icons {
    color: white;
    font-size: 0.7em;
    width: 17%;
    height: 40%;
    padding: 3px;
    transition: all 0.3s ease;
  }
  .icons:hover {
    box-shadow: rgba(0, 0, 0, 0.329) 0px 2px 8px 0px;
    transform: scale(110%);
  }
  .icon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  .icon-img img {
    width: 120%;
  }
  .icon-desc {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-top: 15%;
    font-size: 100%;
  }
  /* ESTILIZANDO OS PROJECTS --------------------------------------------------------------------------*/
  .projects-container {
    height: 490vh; /* +80vh em cada project */
    transition: all 0.5s;
  }
  .projects-content-container {
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    background-color: unset;
    height: 100%;
    display: flex;
    float: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    animation-name: example;
    animation-duration: 1.5s;
  }
  .projects-content {
    width: 100%;
    height: 100%;
    float: column;
    justify-content: center;
    align-items: center;
  }
  .page_section {
    height: unset;
    display: unset;
    justify-content: center;
    align-items: center;
  }
  .slider {
    width: 100vw;
    height: 95vh;
    max-width: unset;
    position: unset;
    overflow: unset;
  }
  .slides_container {
    position: unset;
    height: 100%;
    position: relative;
    transition: ease 1s;
  }
  .slide {
    position: unset;
    padding: 10%;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: unset;
    justify-content: center;
    color: white;
    font-weight: 300;
    font-family: "Comfortaa";
  }
  .button_right,
  .button_left {
    position: absolute;
    top: 50%;
    height: 60px;
    width: 60px;
    background-color: #43b5f5;
    transform: translate(0, -50%);
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    color: rgb(30, 30, 30);
    font-size: 34px;
    font-weight: 300;
    transition: ease 0.5s;
  }
  .button_right:hover,
  .button_left:hover {
    cursor: pointer;
    transform: translate(0, -50%) scale(1.2);
    transition: ease 0.5s;
    color: #43b5f5;
    background-color: rgb(30, 30, 30);
    border: 1px solid #43b5f5;
  }
  .button_right {
    right: 5%;
  }
  .button_left {
    left: 5%;
  }
  .navigation {
    display: none;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .nav_element {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(61, 61, 61);
    margin: 0 5px;
    float: left;
    display: block;
  }
  .navAnimatedBlock {
    display: none;
    position: absolute;
    background-color: #43b5f5;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 1px 1px #43b5f5;
    border-radius: 20px;
  }
  .nav_element:hover {
    display: none;
    cursor: pointer;
  }
  .roundEdges {
    height: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
  }
  .projectTitle {
    height: unset;
    padding: 5%;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .projectTitle h2 {
    margin-bottom: 10%;
    font-size: 1.1em;
  }
  .projectTitle p {
    hyphens: auto;
    font-size: 1.6vh;
    text-align: justify;
  }
  .projectDescription {
    justify-content: space-between;
    align-items: unset;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 56%;
    padding: 5%;
  }
  .info {
    height: unset;
    margin-left: unset;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: justify;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 5%;
  }
  li {
    margin-left: 20px;
    font-size: 1em;
    font-weight: 100;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 5%;
  }
  .projectDescription img {
    width: 90%;
    transition: all 0.3s;
  }
  .projectDescription img:hover {
    transform: translateY(-2%);
  }
  .visualizar {
    color: white;
    background-color: #43b5f5;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 20px;
    width: 100%;
    border: 3px solid #43b5f5;
    outline: none;
    margin-bottom: unset;
    line-height: 0;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .visualizar:hover {
    border: 3px solid #43b5f5;
    color: #43b5f5;
    transform: scale(105%);
    background-color: rgb(40, 40, 40);
  }
  .info h2 {
    align-self: flex-start;
    padding: 2%;
  }
  /* ESTILIZANDO O CONTACT --------------------------------------------------------------------------*/
  .contact-content {
    height: 90vh;
    width: 100%;
    padding: 10%;
  }
  .sectionContact {
    min-width: unset;
    width: 100%;
    height: 100%;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #38a5ff;
    font-weight: bolder;
    max-width: unset;
    margin-top: unset;
    margin-left: unset;
    margin-right: unset;
  }
  input,
  textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    height: 2em;
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
  }
  textarea {
    height: 100%;
  }
  button {
    font-weight: bolder;
    background-color: #38a5ff;
    border: 3px solid #38a5ff;
    color: white;
    font-size: 0.7em;
    padding: 5%;
    width: 100%;
    outline: none;
    border-radius: 5px;
    letter-spacing: 3px;
    transition: all 0.2s ease;
    margin-top: 5px;
    align-self: center;
  }
  button:hover {
    border: 3px solid #38a5ff;
    color: #38a5ff;
    transform: scale(102%);
    background-color: rgb(40, 40, 40);
  }
  label {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }
  /* TOGGLE LANGUAGE BUTTON */
  .toggle-button-cover {
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
  }
  .button-cover {
    height: 100px;
    margin-right: 63%;
    margin-top: 1%;
  }
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .button {
    font-weight: bolder;
    position: relative;
    top: 50%;
    width: 134px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  .button.b2 {
    border-radius: 30px;
  }
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  .knobs {
    z-index: 2;
  }
  .layer {
    width: 100%;
    background-color: black;
    transition: 0.3s ease all;
    z-index: 1;
  }
  #button-10 .knobs:before,
  #button-10 .knobs:after,
  #button-10 .knobs span {
    position: absolute;
    top: 4px;
    width: 55px;
    height: 10px;
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 30px;
    transition: 0.3s ease all;
  }
  #button-10 .knobs:before {
    content: "";
    left: 4px;
    background-color: #ffd300;
  }
  #button-10 .knobs:after {
    content: "PT-BR";
    right: 4px;
    color: rgb(110, 110, 110);
  }
  #button-10 .knobs span {
    display: inline-block;
    left: 4px;
    color: black;
    z-index: 1;
  }
  #button-10 .checkbox:checked + .knobs span {
    color: rgb(110, 110, 110);
  }
  #button-10 .checkbox:checked + .knobs:before {
    left: 67px;
    background-color: #ffd300;
  }
  #button-10 .checkbox:checked + .knobs:after {
    color: black;
  }
  #button-10 .checkbox:checked ~ .layer {
    background-color: black;
  }
  .move-text {
    position: unset;
    color: black;
    letter-spacing: 2px;
    text-align: center;
    font-size: 13px;
    transition: all 0.8s;
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
