$dark-home: #61e4d5;
$dark-about: #57d5e0;
$dark-skills: #4dc5ea;
$dark-projects: #43b5f5;
$dark-contact: #38a5ff;
$dark-background: #16191b;
$light-home: #1595ff;
$light-about: #257eff;
$light-skills: #3566ff;
$light-projects: #454eff;
$light-contact: #5436ff;
$light-background: #eefaff;
