$dark-home: #61e4d5;
$dark-about: #57d5e0;
$dark-skills: #4dc5ea;
$dark-projects: #43b5f5;
$dark-contact: #38a5ff;
$dark-background: #16191b;
$light-home: #1595ff;
$light-about: #257eff;
$light-skills: #3566ff;
$light-projects: #454eff;
$light-contact: #5436ff;
$light-background: #eefaff;

* {
  font-family: 'Jost', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(30, 30, 30);
  overflow: hidden;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  transition: all 0.2s ease;
  overflow: hidden;
}

/* CONFIGURAÇÕES GLOBAIS PARA OS CONTEÚDOS --------------------------------------------------------------------------*/
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: $dark-home;
  height: 10vh;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.navbar {
  display: flex;
  width: 100%;
  height: 10vh;
  padding: 0 10%;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  border-radius: 0px 0px 20px 20px;
  & button {
    height: auto;
    width: auto;
    margin: 0;
  }
}

/* CORES DAS COLUNAS --------------------------------------------------------------------------*/

.contact-container {
  .navbar {
    color: $dark-contact;
  }
}
.home-column {
  background-color: $dark-home;
}

.about-column {
  background-color: $dark-about;
}
.about {
  color: $dark-about;
}

.skills-column {
  background-color: $dark-skills;
}
.skills {
  color: $dark-skills;
}

.projects-column {
  background-color: $dark-projects;
}
.projects {
  color: $dark-projects;
}

.contact-column {
  background-color: $dark-contact;
}
.contact {
  color: $dark-contact;
}

.column-icon {
  transition: all 0.2s ease;
  max-width: 25px;
}

/* TAMANHO DAS COLUNAS --------------------------------------------------------------------------*/
.column {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 5vw;
  transition: all 0.5s;
  flex-direction: column;
  cursor: pointer;
}

/* TAMANHO DOS CONTAINERS E PADDING INICIAL DA HOME --------------------------------------------------------------------------*/
.home-container,
.about-container,
.skills-container,
.projects-container,
.contact-container {
  height: 100vh;
  transition: all 0.5s;
}
.home-container {
  padding-right: 75vw;
}

/* CONTAINER ONDE VAI O CONTEÚDO --------------------------------------------------------------------------*/
.home-content-container,
.about-content-container,
.skills-content-container,
.contact-container-content {
  position: absolute;
  top: 0vh;
  left: 5vw;
  width: 75vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: space-between;
  transition: all 0.5s;
  animation-name: example;
  animation-duration: 1.5s;
}
@keyframes example {
  from {
    opacity: 0;
    transform: scale(85%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

/* DEIXANDO OS CONTEUDOS INVISIVEIS ATÉ SEREM CLICADOS --------------------------------------------------------------------------*/
.about-content-container,
.skills-content-container,
.contact-container-content {
  display: none;
}

.about-content-container {
  left: 10vw;
}
.skills-content-container {
  left: 15vw;
}

.contact-container-content {
  left: 25vw;
}

/* ESTILIZANDO A HOME --------------------------------------------------------------------------*/
.home-container {
  .home-content-container {
    .navbar {
      color: $dark-home;
    }
    .hello-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: white;
      background-color: transparent;
      text-transform: uppercase;
      font-weight: bold;
      height: 90vh;
      width: 75vw;
      padding: 0% 10% 5% 10%;
      .hello {
        width: 100%;
        margin-bottom: 1%;
        h2 {
          font-size: 5rem;
          span {
            color: $dark-home;
          }
        }
        h3 {
          font-size: 2.5rem;
        }
      }
      .social-links-buttons {
        display: flex;
        justify-content: space-between;
        max-width: 700px;

        a {
          font-size: 1em;
          text-transform: uppercase;
          font-weight: bold;
          background-color: transparent;
          padding: 10px 25px;
          transition: all 0.3s;
          text-decoration: none;
          text-align: center;
          margin-right: 2%;
        }
        #resume {
          border: 2px solid $dark-home;
          color: $dark-home;
          padding: 10px 50px;
          &:hover {
            color: black;
            background-color: $dark-home;
            transform: translateY(-8%);
          }
        }
        #linkedin {
          border: 2px solid $dark-skills;
          color: $dark-skills;
          &:hover {
            color: black;
            background-color: $dark-skills;
            transform: translateY(-8%);
          }
        }
        #github {
          border: 2px solid $dark-contact;
          color: $dark-contact;
          &:hover {
            color: black;
            background-color: $dark-contact;
            transform: translateY(-8%);
          }
        }
      }
    }
  }
}

/* ESTILIZANDO O ABOUT --------------------------------------------------------------------------*/
.about-container {
  .about-content-container {
    .navbar {
      color: $dark-about;
    }
    .me-container {
      height: 90%;
      width: 75vw;
      padding: 0% 10% 5% 10%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    .me {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .mePicture {
        width: fit-content;

        img {
          width: 100%;
          max-width: 300px;
          border-radius: 15px;
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
        }
      }
      .meText {
        width: 75%;
        max-width: 1000px;
        color: white;
        font-size: 1rem;
        padding: 2%;
        p {
          text-align: justify;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* ESTILIZANDO AS SKILLS --------------------------------------------------------------------------*/
.skills-container {
  .skills-content-container {
    width: 75vw;
    .navbar {
      color: $dark-skills;
    }
    .skills-content {
      height: 100%;
      width: 100%;
      .info-skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0% 10% 5% 10%;
        height: 90%;
        p {
          max-width: 1000px;
          font-size: 1rem;
          color: white;
          span {
            color: $dark-skills;
          }
        }
      }
      .tech-skills-icons {
        margin-top: 2%;
        max-width: 1000px;
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 5%;

        img {
          width: 90%;
          border-radius: 50%;
          filter: drop-shadow(5px 5px 5px #000000);
        }
      }

      .rotate {
        animation: flip 0.3s ease-in-out forwards;
      }

      @keyframes flip {
        0% {
          transform: rotateY(0deg) scale(100%);
        }
        50% {
          transform: rotateY(-90deg) scale(110%);
        }
        100% {
          transform: rotateY(0deg) scale(100%);
        }
      }
    }
  }
}

/* ESTILIZANDO OS PROJECTS --------------------------------------------------------------------------*/

.projects-container {
  height: 100vh;
  transition: all 0.5s;

  .projects-content-container {
    position: fixed;
    top: 0vh;
    left: 5vw;
    width: 75vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: space-between;
    transition: all 0.5s;
    animation-name: example;
    animation-duration: 1.5s;
    display: none;
    left: 20vw;
    .projects-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .navbar {
        color: $dark-projects;
      }
      .carousel-container {
        width: 80%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow: hidden;
        .carousel {
          display: flex;
          transition: transform 0.5s ease;
          width: fit-content;
          height: 95%;
          .carousel-item {
            min-width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 80%;
              height: 80%;
              object-fit: contain;
              filter: grayscale(0%);
              transition: filter 0.3s ease;

              //   &:hover {
              //     filter: grayscale(100%);
              //   }
            }
          }
        }
        .info {
          width: 60%;
          max-width: 650px;
          position: absolute;
          top: 50%; /* Move 50% da altura do elemento pai */
          left: 50%; /* Move 50% da largura do elemento pai */
          transform: translate(-50%, -55%); /* Centraliza o próprio elemento */
          background-color: rgba(0, 0, 0, 0.7);
          border-radius: 15px;
          color: #fff;
          text-align: center;
          padding: 7% 0%;
          opacity: 0;
          transition: opacity 0.3s ease, transform 0.3s ease;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h3 {
            text-transform: capitalize;
            font-size: 2rem;
          }
          a {
            text-decoration: none;
            font-weight: bolder;
            color: $dark-projects;
            border: 1px solid $dark-projects;
            background-color: #00000060;
            margin-top: 2%;
            padding: 2% 0%;
            width: 50%;
            text-transform: uppercase;
            transition: all 0.3s;
            &:hover {
              background-color: $dark-projects;
              color: black;
              transform: translateY(-10%);
            }
          }
          ul {
            list-style: none;
            padding: 0;
            margin: 10px 0;
            display: inline;
            text-transform: uppercase;
          }

          li {
            display: inline;
            &::after {
              content: ' | ';
            }

            &:last-child::after {
              content: '';
            }
          }
        }

        // .carousel-item:hover .info {
        //   opacity: 1;
        // }

        .carousel-button {
          position: absolute;
          width: fit-content;
          transform: translateY(-50%);
          background: rgba(0, 0, 0, 0.7);
          color: $dark-projects;
          border: none;
          cursor: pointer;
          z-index: 10;
          background-color: transparent;
          transition: all 0.3s;
          &:hover {
            color: #000;
            transform: translateY(-50%) scale(110%);
          }
          i {
            margin: 0;
            font-size: 3rem;
            -webkit-text-stroke: 2px $dark-projects;
          }
          &.prev {
            left: 15%;
          }

          &.next {
            right: 15%;
          }
        }

        /* Indicadores */
        .carousel-indicators {
          display: flex;
          gap: 8px;
          height: 5%;
          .indicator {
            width: 15px;
            height: 15px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &.active {
              background-color: $dark-projects;
              transform: scale(125%);
            }
          }
        }
      }
    }
  }
}

/* ESTILIZANDO O CONTACT --------------------------------------------------------------------------*/

/* MOBILE ----------------------------------------*/

@media screen and (max-width: 800px) {
  body {
    overflow: auto;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    height: unset;
    width: unset;
    transition: all 0.2s ease;
    overflow: unset;
  }

  /* CONFIGURAÇÕES GLOBAIS PARA OS CONTEÚDOS --------------------------------------------------------------------------*/
  /* .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  } */
  .title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: $dark-home;
    height: 10vh;
    text-transform: uppercase;
    letter-spacing: 15px;
  }

  .column-icon {
    transition: all 0.2s ease;
    max-width: 25px;
    margin-right: 10px;
  }

  /* TAMANHO DAS COLUNAS --------------------------------------------------------------------------*/
  .home-column,
  .about-column,
  .skills-column,
  .projects-column,
  .contact-column {
    font-weight: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    transition: all 0.5s;

    flex-direction: unset;
    font-size: unset;
  }

  /* TAMANHO DOS CONTAINERS E PADDING INICIAL DA HOME --------------------------------------------------------------------------*/
  .home-container,
  .about-container,
  .skills-container,
  .projects-container,
  .contact-container {
    padding-right: 0vw;
    height: 100vh;
    transition: all 0.5s;
  }

  .about-container,
  .skills-container {
    height: 150vh;
  }

  /* CONTAINER ONDE VAI O CONTEÚDO --------------------------------------------------------------------------*/
  .home-content-container,
  .about-content-container,
  .skills-content-container,
  .contact-container-content {
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    background-color: unset;

    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    animation-name: example;
    animation-duration: 1.5s;
  }
  @keyframes example {
    from {
      opacity: 1;
      transform: scale(85%);
    }
    to {
      opacity: 1;
      transform: scale(100%);
    }
  }
  .about-content-container,
  .skills-content-container {
    height: 140vh;
  }

  /* DEIXANDO OS CONTEUDOS INVISIVEIS ATÉ SEREM CLICADOS --------------------------------------------------------------------------*/
  .about-content-container,
  .skills-content-container,
  .contact-container-content {
    display: unset;
  }

  .about-content-container {
    left: unset;
  }
  .skills-content-container {
    left: unset;
  }

  .contact-container-content {
    left: unset;
  }

  /* ESTILIZANDO A HOME --------------------------------------------------------------------------*/
  .links a {
    text-decoration: none;
  }
  .titleHome {
    display: none;
    justify-content: center;
    align-items: flex-end;
    color: $dark-home;
    height: 10vh;
    text-transform: uppercase;
    letter-spacing: 15px;
  }

  .home-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hello-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: bold;
    height: 30%;
    width: 90%;
    min-width: unset;
    text-align: center;
    padding: 4%;
  }

  span {
    font-size: 4vw;
  }
  .eduardo {
    font-size: 10vw;
  }

  .hello {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .buttons {
    display: flex;
    flex-direction: unset;
    justify-content: space-around;
    width: 90%;
    margin-top: 20px;
  }

  .links {
    display: flex;
    justify-content: flex-end;
  }
  #resume,
  #linkedin,
  #github {
    margin-right: 8px;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    width: 90%;
    border: 3px solid $dark-home;
    color: $dark-home;
    outline: none;
    padding: 5px;
    transition: all 0.3s;
    text-decoration: none;
    text-align: center;
  }

  #linkedin {
    background-color: transparent;
    border: 3px solid $dark-skills;
    color: $dark-skills;
  }
  #github {
    background-color: transparent;
    border: 3px solid $dark-contact;
    color: $dark-contact;
  }

  /* ESTILIZANDO O ABOUT --------------------------------------------------------------------------*/

  .title {
    display: none;
  }

  .about-content-container p {
    color: white;
    margin-bottom: 12px;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 2px;
    hyphens: auto;
    font-size: 1.3vh;
  }

  .about-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 130vh;
    max-width: 1300px;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: unset;
  }
  #profile {
    width: 60%;
    height: unset;
    border-radius: 50%;
  }
  #paragr-container {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    width: 90%;
    margin-right: unset;
  }
  /* ESTILIZANDO AS SKILLS --------------------------------------------------------------------------*/

  .section-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130vh;
    max-width: 1300px;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
  }

  .section-skills h1 {
    padding: 15px;
    font-size: 1em;
  }
  .front-end {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 33.3%;
  }

  .back-end {
    background-color: rgba(45, 45, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 33.3%;
  }
  .tools {
    background-color: rgba(50, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 33.3%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: unset;
  }
  .icons-wrapp {
    height: 70%;
    width: 90%;
    gap: 4%;
    display: flex;
    justify-content: space-evenly;

    margin-top: unset;
    row-gap: unset;
    flex-wrap: wrap;
  }

  .icons {
    color: white;
    font-size: 0.7em;
    width: 17%;
    height: 40%;
    padding: 3px;
    transition: all 0.3s ease;
  }

  .icons:hover {
    box-shadow: rgba(0, 0, 0, 0.329) 0px 2px 8px 0px;
    transform: scale(110%);
  }

  .icon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .icon-img img {
    width: 120%;
  }

  .icon-desc {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-top: 15%;
    font-size: 100%;
  }

  /* ESTILIZANDO OS PROJECTS --------------------------------------------------------------------------*/

  .projects-container {
    height: 490vh; /* +80vh em cada project */

    transition: all 0.5s;
  }

  .projects-content-container {
    position: unset;
    top: unset;
    left: unset;
    width: unset;

    background-color: unset;

    height: 100%;
    display: flex;
    float: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    animation-name: example;
    animation-duration: 1.5s;
  }

  .projects-content {
    width: 100%;
    height: 100%;
    float: column;
    justify-content: center;
    align-items: center;
  }

  .page_section {
    height: unset;
    display: unset;
    justify-content: center;
    align-items: center;
  }
  .slider {
    width: 100vw;
    height: 95vh;
    max-width: unset;
    position: unset;
    overflow: unset;
  }

  .slides_container {
    position: unset;
    height: 100%;
    position: relative;
    transition: ease 1s;
  }

  .slide {
    position: unset;
    padding: 10%;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: unset;
    justify-content: center;
    color: white;
    font-weight: 300;
    font-family: 'Comfortaa';
  }

  .button_right,
  .button_left {
    position: absolute;
    top: 50%;
    height: 60px;
    width: 60px;
    background-color: $dark-projects;
    transform: translate(0, -50%);
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    color: rgb(30, 30, 30);
    font-size: 34px;
    font-weight: 300;
    transition: ease 0.5s;
  }

  .button_right:hover,
  .button_left:hover {
    cursor: pointer;
    transform: translate(0, -50%) scale(1.2);
    transition: ease 0.5s;
    color: $dark-projects;
    background-color: rgb(30, 30, 30);
    border: 1px solid $dark-projects;
  }

  .button_right {
    right: 5%;
  }

  .button_left {
    left: 5%;
  }

  .navigation {
    display: none;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .nav_element {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(61, 61, 61);
    margin: 0 5px;
    float: left;
    display: block;
  }

  .navAnimatedBlock {
    display: none;
    position: absolute;
    background-color: $dark-projects;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 1px 1px $dark-projects;
    border-radius: 20px;
  }

  .nav_element:hover {
    display: none;
    cursor: pointer;
  }

  .roundEdges {
    height: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
  }

  .projectTitle {
    height: unset;
    padding: 5%;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .projectTitle h2 {
    margin-bottom: 10%;
    font-size: 1.1em;
  }
  .projectTitle p {
    hyphens: auto;
    font-size: 1.6vh;
    text-align: justify;
  }
  .projectDescription {
    justify-content: space-between;
    align-items: unset;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 56%;
    padding: 5%;
  }
  .info {
    height: unset;

    margin-left: unset;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: justify;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 5%;
  }

  li {
    margin-left: 20px;
    font-size: 1em;
    font-weight: 100;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 5%;
  }

  .projectDescription img {
    width: 90%;
    transition: all 0.3s;
  }
  .projectDescription img:hover {
    transform: translateY(-2%);
  }

  .visualizar {
    color: white;
    background-color: $dark-projects;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 20px;
    width: 100%;
    border: 3px solid $dark-projects;
    outline: none;
    margin-bottom: unset;
    line-height: 0;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .visualizar:hover {
    border: 3px solid $dark-projects;
    color: $dark-projects;
    transform: scale(105%);
    background-color: rgb(40, 40, 40);
  }

  .info h2 {
    align-self: flex-start;

    padding: 2%;
  }

  /* ESTILIZANDO O CONTACT --------------------------------------------------------------------------*/

  .contentContact {
    height: 90vh;
    width: 100%;
    padding: 10%;
  }
  .sectionContact {
    min-width: unset;
    width: 100%;
    height: 100%;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: $dark-contact;
    font-weight: bolder;

    max-width: unset;
    margin-top: unset;
    margin-left: unset;
    margin-right: unset;
  }
  input,
  textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    height: 2em;
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
  }

  textarea {
    height: 100%;
  }

  button {
    font-weight: bolder;
    background-color: $dark-contact;
    border: 3px solid $dark-contact;
    color: white;
    font-size: 0.7em;
    padding: 5%;
    width: 100%;
    outline: none;
    border-radius: 5px;
    letter-spacing: 3px;
    transition: all 0.2s ease;
    margin-top: 5px;
    align-self: center;
  }

  button:hover {
    border: 3px solid $dark-contact;
    color: $dark-contact;
    transform: scale(102%);
    background-color: rgb(40, 40, 40);
  }

  label {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }

  /* TOGGLE LANGUAGE BUTTON */

  .toggle-button-cover {
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
  }

  .button-cover {
    height: 100px;
    margin-right: 63%;
    margin-top: 1%;
  }

  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .button {
    font-weight: bolder;
    position: relative;
    top: 50%;
    width: 134px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }

  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }

  .button.b2 {
    border-radius: 30px;
  }

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .knobs {
    z-index: 2;
  }

  .layer {
    width: 100%;
    background-color: black;
    transition: 0.3s ease all;
    z-index: 1;
  }

  #button-10 .knobs:before,
  #button-10 .knobs:after,
  #button-10 .knobs span {
    position: absolute;
    top: 4px;
    width: 55px;
    height: 10px;
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 30px;
    transition: 0.3s ease all;
  }

  #button-10 .knobs:before {
    content: '';
    left: 4px;
    background-color: #ffd300;
  }

  #button-10 .knobs:after {
    content: 'PT-BR';
    right: 4px;
    color: rgba(110, 110, 110);
  }

  #button-10 .knobs span {
    display: inline-block;
    left: 4px;
    color: black;
    z-index: 1;
  }

  #button-10 .checkbox:checked + .knobs span {
    color: rgba(110, 110, 110);
  }

  #button-10 .checkbox:checked + .knobs:before {
    left: 67px;
    background-color: #ffd300;
  }

  #button-10 .checkbox:checked + .knobs:after {
    color: black;
  }

  #button-10 .checkbox:checked ~ .layer {
    background-color: black;
  }

  .move-text {
    position: unset;
    color: black;
    letter-spacing: 2px;
    text-align: center;
    font-size: 13px;
    transition: all 0.8s;
    opacity: 1;
  }
}
