* {
	font-family: "Source Sans Pro", sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: rgb(27, 27, 27);
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 100vh;
	transition: 0.4s;
}
main {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
img {
	width: 25px;
}
.active {
	display: flex;
	width: 400px;
}

.navigate {
	width: 400px;
	display: flex;
	justify-content: flex-end;
}
.home {
	flex-direction: column;
	background-color: #ffcf00;
}

.about {
	flex-direction: column;
	background-color: #ffa100;
}

.skills {
	flex-direction: column;
	background-color: #ff7a00;
}
.projects {
	flex-direction: column;
	background-color: #ff4d00;
}

.contact {
	flex-direction: column;
	background-color: #db4404;
}
.home:hover,
.about:hover,
.skills:hover,
.projects:hover,
.contact:hover {
	cursor: pointer;
	width: 40%;
}

p {
	opacity: 0;
	transition: 1s;
}
