*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 430vh;
    background-image: linear-gradient(to right, #1785c5 0%, #4482df 100%);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
    top: 0;
    position: sticky;
    height: 10vh;
    background-color: white;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #c0c0c0;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 40px;
    color: black;
}

.home{
    background-image: url(/media/coding-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 15px #000000;
}

.social-media{
    position: absolute;
    left: 0;
}
.rd, .rd1{
    align-content: left;
    left: 0;
    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-top: none;
}

.rd1{
    border-top: 3px solid white;
}
.hello{
    flex-direction: column;
    text-align: center;
    letter-spacing: 2px;
    width: 70vw;
    color: white;

}
h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 35px;
}

p{
    width: 50vw;
    margin: auto;
    margin-bottom: 40px;
    font-size: 25px
}

button {
    padding: 20px;
    width: 20%;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 800;
    background-color: white;
    border: none;
    border-radius: 10px;
    text-shadow: 2px 2px 5px #c0c0c0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    }

button:hover {
    text-shadow: 2px 2px 5px #363636;
    background-color: rgb(0, 183, 255);
    box-shadow: 0px 15px 20px rgba(0, 183, 255, 0.171);
    color: #fff;
    transform: translateY(-7px);
}

.about{
    height: 100vh;
    background-color: rgb(233, 233, 233);
}
.projects{
        height: 100vh;
        background-color: rgb(255, 255, 255);
}

.contact{
    background-image: url(/media/coding-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

footer{
    height: 30vh;
    background-color: black;
}